@model IEnumerable<BookStore.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Books</h1>

<div class="btn">
    <a asp-action="Create">Create New</a>
</div>

@foreach (var item in Model)
{
    <div class="book">
        <h1>
            @Html.DisplayFor(modelItem => item.Title)
        </h1>
        <h2>
            @Html.DisplayFor(modelItem => item.Author)
        </h2>
        <p>
            @Html.DisplayFor(modelItem => item.Pages) pages
        </p>
        <p>
            Published @Html.DisplayFor(modelItem => item.Year)
        </p>

        <p>
            @Html.DisplayFor(modelItem => item.Rating)
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.Status.ReadingStatus)
        </p>
        <td>
            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
        </td>
    </div>
}
