@model IEnumerable<BookStore.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<div class="btn">
    <a asp-action="Create">Create New</a>
</div>

<div class="books">

    @foreach (var item in Model)
    {
        <div class="book">
            <h1>
                @Html.DisplayFor(modelItem => item.Title)
            </h1>
            <h2>
                @Html.DisplayFor(modelItem => item.Author)
            </h2>

            <!-- Stjärnbetyg -->
            @for (int i = 1; i <= 5; i++)
            {
                if (item.Rating.HasValue && i <= item.Rating.Value)
                {
                    <span style="color: gold;">&#9733;</span> <!-- Gold star -->
                }
                else
                {
                    <span style="color: lightgray;">&#9734;</span> <!-- Empty star -->
                }
            }
            <p>
                @Html.DisplayFor(modelItem => item.Status.ReadingStatus)
            </p>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </div>
    }

</div>